<div class="message owner">
  <div class="messageInfo">
    <img src="https://media.istockphoto.com/id/1211022917/photo/portrait-of-perfectly-looking-young-woman-with-pleasant-facial-expression-facial-treatment.jpg?s=612x612&w=0&k=20&c=w_nbWeLKdnQp6OBN2B99kVDDwH3o2CcSPoxJYdKsh1g=" alt="">
    <span>just now</span>
  </div>
  <div class="messageContent">
  <p>hello</p>
    <img src="https://media.istockphoto.com/id/1211022917/photo/portrait-of-perfectly-looking-young-woman-with-pleasant-facial-expression-facial-treatment.jpg?s=612x612&w=0&k=20&c=w_nbWeLKdnQp6OBN2B99kVDDwH3o2CcSPoxJYdKsh1g=" alt="">
  </div>
</div>
