<div class="formWrapper">
  <span class="logo">Oleg Chat</span>
  <span class="title">Register</span>
  <form [formGroup]="form" (ngSubmit)="register($event)">
    <input formControlName="name" required type="text" placeholder="display name" />
    <input formControlName="email" required type="email" placeholder="email" />
    <input formControlName="password" required type="password" placeholder="password" />
    <input formControlName="avatar" required (change)="uploadFile($event)"  type="file" id="file" />
    <label for="file">
      <img src="" alt="" id="myImage"/>
      <span>Add an avatar</span>
    </label>
    <button >Sign up</button>
<!--    {loading && "Uploading and compressing the image please wait..."}
    {err && <span>Something went wrong</span>}-->
  </form>
  <p>
    You do have an account?
    <a routerLink="/admin/login">Login</a>
  </p>
</div>
