<div class="formWrapper">
  <span class="logo">Oleg Chat</span>
  <span class="title">Login</span>
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <input formControlName="email" type="email" placeholder="email"/>
    <small *ngIf="email?.errors?.['required']">email required</small>
    <small *ngIf="email?.errors?.['email']">invalid email address</small>
    <input formControlName="password" type="password" placeholder="password"/>
    <small *ngIf="password?.errors?.['required']">email required</small>
    <small *ngIf="password?.errors?.['minlength']">
      Min length is {{password.errors?.['minlength']['requiredLength']}} symbols.
      Now {{password.errors?.['minlength']['actualLength']}}
    </small>
    <button type="submit" [disabled]="form.invalid" >Sign in</button>

  </form>
  <p>You don't have an account?
    <a [routerLink]="['/admin/register']">Register</a>
  <p *ngIf="false">
    You do have an account?
    <a routerLink="/admin/register">Register</a>
    Login
  </p>
</div>

