@use '../../../../scss/variables'  as v;

:host{
  overflow-y: auto;
  background: v.$color-text;
}
.messages{
 // background: v.$color-text;
  padding: 10px;
  //height: 100%;
 // overflow-y: auto;

}
